<div class="row mt-3">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3 class="text-center">Find Frequent State</h3>
            <form>
                <div class="form-group">
                    <label for="cityOne">City One:</label>
                    <input type="text" name="cityOne" id="cityOne" class="form-control"  required>
                </div>
                <div class="form-group">
                    <label for="cityTwo">City Two:</label>
                    <input type="text" name="cityTwo" id="cityTwo" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="cityThree">City Three:</label>
                    <input type="text" name="cityThree" id="cityThree" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="cityFour">City Four:</label>
                    <input type="text" name="cityFour" id="cityFour" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="cityFive">City Five</label>
                    <input type="text" name="cityFive" id="cityFive" class="form-control" required>
                </div>
                <button type="button" class="btn btn-primary" id="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<div class="row mt-3 mb-3">
    <div class="col-md-6 mx-auto">
        <ul id="state-container" class="list-group" style="list-style: none;">

        </ul>
    </div>
</div>